

#navSecundario {
    background-color: whitesmoke;
    height: 5vh;  
    width: auto;
    display:flex;
    align-items: center;
    justify-content: right;
    padding: 50px;
    gap: 20px;
  }

  #secundario{
    height: 2vh;
  }

  #bot{
    height: 2vh;
 
  }


  header ul{
    display:flex;  
    flex-wrap: wrap;  
    gap: 20px;
  
  }

#navPrimario{
  background-color: rgb(176, 176, 176);
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
  }
 


#ulSecundario li img{
    height: 20px;
    width: auto;
}


.logo{
    height: 50px;
    width: auto;
}

#theme-btn{
  border: none;
  background: none;
  color: inherit;
  font-size: 20px;
  margin-right: auto;
}

.logoNav1 {
  display: none;
  height: 30px;
  width: auto;
}

.abrirMenu{
  display: none;
}

.cerrarMenu{
  display: none;
}

.navMedia{
  display: none;
}

@media screen and (max-width: 650px){
 
  #secundario{
    display: none;
  }

#bot{
  display: none;
}

  .abrirMenu, .cerrarMenu {
    display: block;
  }

  .logoNav1{
    display: block;
  }


#navPrimario{
  display: none;
}

.navMedia{
  opacity: 0;
  visibility: hidden;
}

 .navMedia{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  padding: 2rem;
 }

 .navMedia .visible{
  opacity: 1;
  visibility: visible;
 }

 .ulMedia{
  display: flex;
  flex-direction: column;
  align-items: end;
 }

 .ulMedia li a{
  color: rgb(82, 82, 82);
 }
}